.menu{
    list-style: none;
    position: absolute;
    right: 30px;
    cursor: pointer;
    
}

.link{
float:left;
padding:10px;
font-family: 'Edu NSW ACT Foundation', cursive;
font-size:50px ;
text-decoration:none;

}
#welcome{
    background-image: linear-gradient(#f00 0%, #000 100%) ;
    color:red
}
.link:hover{
    text-decoration:underline;
    font-size:60px;
}